@import "tailwindcss";

:root {
  --background: #f8fafc;
  --surface: #fff;
  --text: #030712;
  --text-inverse: #f8fafc;
  --primary: #b115fc;
  --accent: #6511d8;
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-text: var(--text);
  --color-text-inverse: var(--text-inverse);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020618;
    --surface: #0f172b;
    --text: #f8fafc;
    --text-inverse: #030712;
    --accent: #c4b4ff;
  }
}

body {
  background: var(--background);
  color: var(--surface);
  font-family: Arial, Helvetica, sans-serif;
}
